<!DOCTYPE html>
<html lang="en">

  <%- include('./includes/head.ejs') %>

  <body>
          <%- include('./includes/logo.ejs') %>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><%=article.title%></h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
          <div style= "margin-bottom: 15px; color: red;">
              <span style="font-size: 30px;">남은시간 : </span>
              <span style="font-size: 32px;">5일 17시간 14분 34초</span></div>
            <div>
        <div class="card-body" style="padding: 0 15px 0 5px;">
          <div class="input-group" style="width: 450px;">
            <div style="display: inline-block; width: 350px;">
              <span style="font-size: 30px;">현재가격 : </span>
              <span style="font-size: 35px;"><%=article.max_price %></span></div>
            <button style="margin-left: 5px; margin-top: 10px; height: 38px;" class="btn btn-secondary" type="button">입찰하기!</button>
          </div>
          <div style="color : gray; font-size: 80%; padding: 5px 0 0 20px;">※ 주의사항 : ㄹㄴㅇㄹㄴㅇㄹㅇㄴㄹㄴㅇ</div><br>
        </div>
        <div class="card-body" style="padding: 15px 15px 0 5px;">
          <div class="input-group" style="width: 450px;">
            <input type="text" style="width: 300px;" class="form-control" placeholder="금액을 입력하세요.">
            <span class="input-group-btn">
              <button style="margin-left: 15px;" class="btn btn-secondary" type="button">입찰하기!</button>
            </span>
          </div>
          <div style="color : gray; font-size: 80%; padding-bottom: 20px; padding: 5px 0 0 20px;">※ 주의사항 : ㄹㄴㅇㄹㄴㅇㄹㅇㄴㄹㄴㅇ
          </div><br>
        </div>
          <table>
          <tr>
            <td style="vertical-align: text-top;">
              <h5>판매자 정보</h5>
            </td>
            <td>
              <ul>
                <li>아이디 : <%=article.seller_id %></li>
                <li>연락처 : <%=article.phone %></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      </div>

    </div>
    <!-- /.row -->
    <div style="padding: 15px; border-top: 1.5px solid gray;">
      <h3>상세설명</h3>
      <div style="overflow-y:scroll; height: 250px;"><%=article.content%></div>
    </div>

    <!-- Our Customers -->
    <h2>같은 카테고리의 다른 상품</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include('./includes/footer.ejs') %>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>