<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <script>
        let time = '<%= article.time %>';
        let d = parseInt(time / (60*60*24));
        time -= d * (60*60*24);
        let h = parseInt(time / (60 * 60));
        time -= h * (60*60);
        let m = parseInt(time / 60);
        time -= m * (60);
        let s = time;        
        
        function time_load() {
            s--;
            if(s == -1) {
                m--;
                s = 59;
            }
            if(m == -1) {
                h--;
                m = 59;
                s = 59;
            }
            if (h == -1) {
                d--;
                h = 59;
                m = 59;
                s = 59;
            }
            if (d == -1) {
                clearInterval(time_load);
            }
            $("#time").text(d + '일 '+ h + '시간 ' + m + '분 ' + s + '초');
        }
        $(document).ready(() => {
            $("#time").text(d + '일 '+ h + '시간 ' + m + '분 ' + s + '초');
            let time_load = setInterval("time_load()", 1000)
        })
    </script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(() => {
        
        let loginid = '<%= loginid %>';
        console.log(loginid);
        
        let url = window.location.href;
        let num = url.substring(url.lastIndexOf('/')+1);
        
        socket = io('/nsp');
        socket.emit('joinRoom', num, loginid);
        
        $('form').submit(() => {
          socket.emit('chat message', $('#money').val());
          $('#money').val('');
          return false;
        });
        socket.on('chat message', (msg) => {
          
          $('#price').text(msg)
        });
        socket.on('joinRoom', (num)=> {
            $('#price').html(num);
        })
      });
    </script>
  <%- include('./includes/logo.ejs') %>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><%=article.title%></h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <div style="margin-bottom: 15px; color: red;">
          <span style="font-size: 30px;">남은시간 : </span>
          <span id="time" style="font-size: 32px;"></span>
        </div>
        <div>
          <div class="card-body" style="padding: 0 15px 0 5px;">
            <div class="input-group" style="width: 450px;">
              <div style="display: inline-block; width: 350px;">
                <span style="font-size: 30px;">현재가격 : </span>
                <span id="price" style="font-size: 35px;"><%=article.price %></span></div>
            </div>
            <div style="color : gray; font-size: 80%; padding: 5px 0 0 20px;">※ 상한가 : <%= article.max_price%>원 이하 가격만 입찰 가능합니다.</div><br>
          </div>
          <div class="card-body" style="padding: 15px 15px 0 5px;">
            <form action="">
            <div class="input-group" style="width: 450px;">
              <input id="money" type="text" style="width: 300px;" name="input_price" class="form-control" placeholder="금액을 입력하세요." onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' maxlength=8>
              <span class="input-group-btn">
                <button id="ipchal" style="margin-left: 15px;" class="btn btn-secondary" type="submit">입찰하기!</button>
              </span>
            </div>
            <div style="color : gray; font-size: 80%; padding-bottom: 20px; padding: 5px 0 0 20px;">※ 주의사항 : 숫자만 입력하세요.
            </div><br>
          </div>
        </form>
          <table>
            <tr>
              <td style="vertical-align: text-top;">
                <h5>판매자 정보</h5>
              </td>
              <td>
                <ul>
                  <li>아이디 : <%=article.seller_id %></li>
                  <li>연락처 : <%=article.tel1 %> - <%=article.tel2 %> - <%=article.tel3 %></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <!-- /.row -->
    <div style="padding: 15px; border-top: 1.5px solid gray;">
      <h3>상세설명</h3>
      <div style="overflow-y:scroll; height: 250px;"><%=article.content%></div>
    </div>

    <!-- Our Customers -->
    <h2>같은 카테고리의 다른 상품</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include('./includes/footer.ejs') %>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/signup.js"></script>

</body>

</html>