<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/logo.ejs') %>
    <div>
        <!-- Page Content -->
        <div class="container">

            <h1 class="my-4">여기서 부터 시작 합니다 4989 여기에 뭘 넣을까</h1>
            <h3 class="my-4"><%=category%></h3>
            <h3 class="my-4"><%=user.name%></h3>
            <!-- Search Section -->

            <div class="row">
                <div class="input-group col-4">
                    <input type="text" style="width: 300px;" class="form-control">
                </div>
                <div class="input-group-btn col-2">
                    <button class="btn btn-secondary" type="button">검색</button>
                </div>
                <div class="col-6 text-right">
                    <% if(user.userid) { %>
                    <a href="/item_add"><button class="btn btn-secondary" type="button">물품 올리기</button></a> 
                    <% }%>
                </div>
            </div>

            <!-- Portfolio Section -->
            <h2>인기품목</h2>

            <div class="row">
                <%- include('./includes/item_div_hit.ejs') %>
            </div>

            <!-- Portfolio Section -->
            <h2>현재 진행 경매</h2>

            <div class="row">
                <%- include('./includes/item_div.ejs') %>
            </div>

            <hr>
            <div class="text-right">
                    <ul class="pagination text-center">
                        <% 
                            for (var i = 0; i < cont; i++) {
                        %>
                        <li class="page-item"><a class="page-link" href="/list/<%=category%>/pag/<%=i +1 %>"><%=i +1 %></a></li>
                        <%}%>
                    </ul>
            </div>
            <!-- Call to Action Section -->
            <div class="row mb-4">
                <div class="col-md-10">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum
                        deleniti
                        beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
                    </p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
                </div>
            </div>

        </div>
        <!-- /.container -->
        <%- include('./includes/footer.ejs') %>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>