<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/logo.ejs') %>
    <div>
        <!-- Page Content -->
        <div class="container">

            <h1 class="my-4">여기서 부터 시작 합니다 4989 여기에 뭘 넣을까</h1>
            <h3 class="my-4"><%=category%></h3>
            <!-- Search Section -->
            <div class="input-group" style="width: 450px; margin-bottom: 15px;">
                <input type="text" style="width: 300px;" class="form-control">
                <span class="input-group-btn">
                    <button style="margin-left: 15px;" class="btn btn-secondary" type="button">검색</button>
                </span>
            </div>
            <!-- Portfolio Section -->
            <h2>인기품목</h2>

            <div class="row">
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
            </div>

            <!-- Portfolio Section -->
            <h2>현재 진행 경매</h2>

            <div class="row">
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
                <%- include('./includes/item_div.ejs') %>
            </div>

            <hr>

            <!-- Call to Action Section -->
            <div class="row mb-4">
                <div class="col-md-10">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum
                        deleniti
                        beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
                    </p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
                </div>
            </div>

        </div>
        <!-- /.container -->
        <%- include('./includes/footer.ejs') %>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>